#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body, button {
  color: #3e3e3e;
}

.display {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.display > span {
  padding: 6px 10px;
}

.display .number {
  font-size: 60px;
}

.display .unit {
  font-size: 18px;
  padding-right: 6px;
}

.display .mask {
  color: #909090;
}

.input-display {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  box-shadow: -3px 3px 8px 1px rgba(0,0,0,0.4);
  cursor: text;
}

.input-display.focused {
  box-shadow: -3px 3px 12px 1px rgba(0,0,0,0.4);
}

input {
  font-size: 18px;
}

.cursor {
  display: inline-block;
  width: 1px;
  height: 70%;
  background-color: inherit;
  margin-right: 5px;
}

.input-display.focused .cursor {
  background-color: #909090;
}

#controls {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0 15px;
  background-color: whitesmoke;
  border: 1px solid gray;
  width: 80px;
  height: 30px;
  font-size: 16px;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

#primary-btn {
  background-color: #4787ed;
  border-color: rgb(3, 61, 138);
  color: white;
}

#primary-btn:disabled {
  background-color: rgba(71, 135, 237, 0.60);
  border-color: rgba(3, 61, 138, 0.60);
}


@media (min-width: 576px) {
  .display .number {
    font-size: 90px;
  }
  
  .display .unit {
    font-size: 25px;
    padding-right: 6px;
  }
}

@media (min-width: 768px) {
  .display .number {
    font-size: 125px;
  }
  
  .display .unit {
    font-size: 25px;
    padding-right: 6px;
  }
}

@media (min-width: 992px) {
  .display .number {
    font-size: 150px;
  }
  
  .display .unit {
    font-size: 25px;
    padding-right: 6px;
  }
}